@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_typography.scss";

.Timer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding:2px;
    backdrop-filter: blur(6px);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 30px;

    h2 { 
        margin: auto 30px;
        font-size: $font-l;
    }

    span {
        font-size: $font-m;
    }
}

@media only screen and (max-width: 576px) {
    .Timer {
       flex-grow: 1;

        h2 { 
           font-size: $font-s;
        }
    
        span {
            font-size: $font-xs;
        }
    }

  } 