@import "../../../assets/styles/styles.scss";

.swapCard {
  background: $background-color-transparent;
  border-radius: $border-radius-3;
  color: $secondary-color;
  margin-bottom: $base-spacing * 2;
  padding: $base-spacing * 2;

  .profile__pic {
    border-radius: $border-radius-1;
    height: 40px;
    width: 40px;
    border: 2px solid $secondary-color;
    // margin-bottom: 50px;
  }

  .post {
    color: $secondary-color;
    margin-left: $base-spacing * 2;
  }

  .comment {
    align-items: center;
    display: flex;
  }

  .input {
    border: $border-1;
  }
}

