@import "../../../assets/styles/styles.scss";

.swapCard {
  background: $secondary-color;
  border-radius: $border-radius-3;

  .profile__pic {
    border-radius: $border-radius-1;
    height: 50px;
    width: 50px;
    border: 2px solid $secondary-color;
    // margin-bottom: 50px;
  }

  .comment {
    display: flex;
  }
}

