@import '../../assets/styles/variables';

.popup {
  position: relative;
  .popupText {
    visibility: hidden;
    width: 60vw;
    height: 50vh;
    background-color: $secondary-color;
    color: $hyperlink-color;
    text-align: center;
    border-radius: $border-radius-2;
    padding: 8px 20px;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 40%;
    border-left: 10px solid $primary-color;
    border-right: 10px solid $primary-color;
      }
  }

.show {
  visibility: visible !important;
  
}
.info {
  width: 30px !important;
  height: 30px !important;
  padding: 10px;
  color: $primary-color;
}
.info:hover {
  cursor: pointer;
}
.inforTopRight {
  
}
