.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #5656FF 0%, #9556C0 100%);

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    .btn {
        background-color: white;
        border: 2px solid purple;
        border-radius: 100%;
    }
  }