@import "../../../../assets/styles/styles.scss";

.wholeTable {
display: flex;
width: 700px;
margin: auto;
height: 50%;
border: 2px solid black;
justify-content: space-around;
align-items: center;
}

.dayOfWeek {
    text-align: center;
    font-size: $font-m;
}

.selectionContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
}