.timeBar {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(187, 185, 185);
    width: 100%;

    color: white;
    text-align: end;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    h2 { 
        margin: auto 30px;
        color:#E61111;
    }

    span {
        color: black;
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    .timeBar {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        h2 { 
           font-size: medium;
        }
    
        span {
            font-size: small;
        }
    }

  } 