@import '../../../assets/styles/variables';

@media only screen and (max-width: $comp-breakpoint) {
  .mealInfo {
    text-align: left;
    flex-grow: 1;
    margin: 20px;
    flex-shrink: 0;
    height: 200px;
    width: 200px;
  
    h3 {
      line-height: 2rem;
    }
  }
}

@media only screen and (max-width: $mob-breakpoint) {
  .mealInfo {
    text-align: left;
    margin: 5px;
    height: 4vh;
    width: 80vw;
  
    h3 {
      line-height: 1.5rem;
    }
  }
} 

// .arrowIcon {
//   font-size: 2rem;
//   flex-shrink: 0;
// }

// .penIcon {
//   font-size: 1.2rem;
//   flex-shrink: 0;
// }

