@import "../../../assets/styles/variables";
@import "../../../assets/styles/buttons";
@import "../../../assets/styles/typography";

.imgPreview{
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 1px solid black;
}

.mainFormContainer {
    height: fit-content;
    margin-top: 100px;
    width: 50vw;
    background: linear-gradient(180deg, rgba(86, 86, 255, 0.9) 0%, 
    rgba(175, 87, 235, 0.9) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    margin: auto;
    font-size: $font-m;
    font-family: Arial, Helvetica, sans-serif;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.checkBox{
    background-color: transparent;
    
}
    

.header{
    text-align: center;
}






@media only screen and (max-width: $mob-breakpoint){


.entryContainer {
    grid-template-columns: 1fr;
}




}


