main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: (filter grayscale(100%));
    // z-index: -1;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    backdrop-filter: blur(6px);


    .mainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        border-radius: 25px;
        color: black;
        z-index: -1;


    }

    .dayItemImage {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 200px;

    }

    .confirmMenu {
        backdrop-filter: blur(6px);
        width: 900px;
        border-radius: 25px;
    }

    h1 {
        color: #3F3737;
    }

    .mealOption {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        margin: 20px;
        padding: 20px;

        border-radius: 25px;
        ;

        li {
            color: #454599;

            list-style-type: none;

            p {
                color: #3F3737;
            }

            .dot {
                height: 25px;
                width: 25px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
            }

        }
    }
}

button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    width: 307px;
    height: 62px;
    background: #EF4242;
    border-radius: 30px;
    border-style: none;
    margin: 20px;
    outline: none;
}