@import '../../assets/styles/styles';

.background {
    background-color: $background-color;
}

.mealConfirmLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mealConfirmBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $primary-font-color;
    display: inline-block;
}

@media only screen and (min-width: $comp-breakpoint) {
    .mealConfirmMilky {
        height: 740px;
        width: 1150px;
    }

    .confirmMenu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .confirmationButton {
        font-size: 1rem;
        width: 307px;
        height: 62px;
    } 
} 

@media only screen and (max-width: $mob-breakpoint) {
    .mealConfirmMilky {
        height: 80vh;
        width: 90vw;
    }

    .confirmMenu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 1vh;
    }

    .confirmationButton {
        font-size: 1rem;
        height: 4vh;
        width: 80vw;
        line-height: 1.5rem;
    } 
} 

