@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
.btn-primary {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

.btn-secondary {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

button {
  border-radius: 10px;
  border: #F1F2F6 2px solid;
  background-color: #27187E;
  color: #F1F2F6;
  padding: 20px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.text-white {
  color: white;
}

h3 {
  font-weight: 400;
}

.btn-primary {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

.btn-secondary {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

button {
  border-radius: 10px;
  border: #F1F2F6 2px solid;
  background-color: #27187E;
  color: #F1F2F6;
  padding: 20px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.text-white {
  color: white;
}

h3 {
  font-weight: 400;
}

input, select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
}

.inputError {
  display: block;
  float: right;
  font-size: 15px;
  color: #f46d6d;
  margin: 0 0 0 30px;
}

label {
  display: block;
  font-size: 20px;
}

.pageBody {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/knowasteBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainFormContainer {
  max-width: 780px;
  width: 50%;
  min-width: 580px;
  padding: 50px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #5656ff 0%, #9556c0 100%);
  border-radius: 20px;
  color: #fff;
  font-size: 24px;
}
.mainFormContainer .tAndC {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding: 10px 0;
}
.mainFormContainer .tAndC input {
  height: 14px;
  margin: 0;
}
.mainFormContainer .tAndC p {
  font-size: 12px;
  margin: 10px 0;
}

.header {
  text-align: center;
  font-size: 22px;
}