@import "../../assets/styles/variables";
@import "../../assets/styles/buttons";
@import "../../assets/styles/typography";




.pageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url("../../assets/images/knowasteBG.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}

.mainFormContainer {
    height: fit-content;
    margin-top: 100px;
    width: 50vw;
    //background-color: $primary-color;
    background: linear-gradient(180deg, rgba(86, 86, 255, 0.9) 0%, 
    rgba(175, 87, 235, 0.9) 100%);
    border:5px solid $secondary-color;
    // background-color: rgba(255, 255, 255, .5);
    // box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    // backdrop-filter: blur(5px);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px;
    font-size: $font-m;
    font-family: Arial, Helvetica, sans-serif;

}
    

.header{
    text-align: center;
}

.formInput{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 10%;
        grid-gap: 5px;
}
        
input, select {
            border-radius: 15px;
            height: 30px;
            width: 60%;
            background: white;
            
        }

.tickBox{
        display: inline-flex;
        align-items: center;
          }
        

.termsContainer {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        font-family: $secondary-font;
        font-size: $font-s;
        
    }

textarea {
        overflow-y: scroll;
    }
    
.signUpButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;

       
    }
    
 p{
        font-size: $font-s;
    }


    


 


@media only screen and (max-width: $mob-breakpoint){


.entryContainer {
    grid-template-columns: 1fr;
}




}


