@import "../../assets/styles/typography";
@import "../../assets/styles/variables";
@import "../../assets/styles/forms";
@import "../../assets/styles/buttons";




.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  background: $background-color;
}

.loginPage {
  box-sizing: border-box;
  font-family: $primary-font;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  min-width: 320px;
  align-items: center;
  margin: auto;
  border: 1px solid #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
  ::before {
    content : "";
    position: absolute;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.055);
    filter: blur(1px);
  }
}

.logo {
  height: 40vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  color: white;



  #loginButton {
    // width: 70%;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
  }
  h3 {
    margin-top: 0;
  }
  span {
    font-size: 0.8em;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }
  .inputError {
    font-size: 12px;
    color: rgb(209, 52, 52); //fixed reference to danger color
    margin-top: -5px;
    
  }

  .showPass {
    position: relative;
    top: -32px;
    left: -10px;
    margin-left: auto;
    color: black;
  }
}

.forgotPassword {
  position: relative;
  top: -20px;
}

.smallText {
  font-size: 0.8em;
}

.divider {
  // display: none;
  width: 0;
}

@media screen and (min-width: $mob-breakpoint) {
  .loginPage {
    // display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    min-width: 600px;
    max-width: 900px;

  }

  .logo {
    // width: 100%;
    max-height: 200px;
  }

  .divider {
    // display: block;
    width: 2px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
