@import "../../assets/styles/styles.scss";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  background: $background-color;
  background-image: url("../../assets/images/FoodAndDrinkDesign.svg");
  background-size: 600px 600px;
}

.loginPage {
  box-sizing: border-box;
  font-family: $primary-font;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  min-width: 320px;
  align-items: center;
  margin: auto;
  background: inherit;
  z-index: 1;
  border: 1px solid #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

.loginPage:before {
	content: "";
	position: absolute;
	background: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: -1;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.danger,.danger:focus {
  border: 2px solid red;
}
input:focus {
  box-sizing: border-box;
  border: 2px solid $primary-color;
  outline-color: $primary-color;
  outline-style: none;
}

.logo {
  height: 40vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;

  button {
    outline-style: none;
    &:active {
      border: 2px solid #fff;
    }
  }

  #loginButton {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
  }
  h3 {
    margin-top: 0;
  }
  span {
    font-size: 0.8em;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }
  .inputError {
    font-size: 12px;
    color: rgb(209, 52, 52); //fixed reference to danger color
    margin-top: -5px;
    
  }

  .showPass {
    position: relative;
    top: -32px;
    left: -10px;
    margin-left: auto;
    color: black;
  }
}

.forgotPassword {
  position: relative;
  top: -20px;
}

.smallText {
  font-size: 0.8em;
}

.divider {
  // display: none;
  width: 0;
}

@media screen and (min-width: $mob-breakpoint) {
  .loginPage {
    // display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    min-width: 600px;
    max-width: 900px;

  }

  .logo {
    // width: 100%;
    max-height: 200px;
  }

  .divider {
    // display: block;
    width: 2px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
