@import "../../assets/styles/styles.scss";

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-font-color;
}



.alert {
    display: flex;
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: $secondary-color;
    color: $secondary-font-color;

}

.forgotPasswordContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.455);
    border-radius: $border-radius-1;

    .logo {
        width: auto;
        height: 80px;
        position: absolute;
        bottom: 5%;
        right: 0;
    }

    p {
        margin-bottom: 10px;
        font-size: $font-m;
        width: 80%;
    }

    .email {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        
        label {
            width: 85%;
            text-align: left !important;
            font-size: $font-m;
        }
    }

    input {
        width: 80%;
        padding: 10px 15px;
        background: $secondary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius-2;
        border-style: none;
        outline: none;
        color: $secondary-font-color;
    }

}

@media only screen and (max-width: 576px) {
    .forgotPasswordContainer {
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        height: 70%;
    
        .logo {
            margin: 10px auto 0 auto;
            width: auto;
            height: 100px;
            position: relative;
            
        }
    
        p {
            margin-bottom: 10px;
            font-size: $font-s;
            width: 85%;
        }
    
        .email {
            label {
                font-size: $font-s;
            }
        }
    
    }
}