@import "../../assets/styles/styles.scss";

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-font-color;
}



.alert {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    background-color: $secondary-color;
    color: $secondary-font-color;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h3{
        font-size: $font-s;

    }

    button {
        width: 40%;
        height: 20%;
        background: linear-gradient(180deg, #FF8D60 0%, $primary-color 100%);
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color: $secondary-color;
        border:none;
    }

    button:hover, button:active {
        filter: none;
    }

}

.forgotPasswordContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.455);
    border-radius: $border-radius-1;

    .logo {
        width: auto;
        height: 80px;
        position: absolute;
        bottom: 5%;
        right: 0;
    }

    p {
        margin-bottom: 10px;
        font-size: $font-m;
        width: 80%;
    }

    .email {
        margin: 4% auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        
        label {
            width: 82%;
            text-align: left !important;
            font-size: $font-m;
        }

        input {
            width: 80%;
            height: 60%;
            padding: 10px 30px;
            background: $secondary-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: $border-radius-2;
            border-style: none;
            outline: none;
            color: $secondary-font-color;
            margin-bottom: 20px;
        }
    }

    

    button {
        width: 40%;
        height: 11%;
        padding: 10px;
        background: linear-gradient(180deg, #FF8D60 0%, $primary-color 100%);
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color: $secondary-color;
        border:none;
    }

    button:hover, button:active {
        filter: none;
    }


}

@media only screen and (max-width: 576px) {
    .forgotPasswordContainer {
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        height: 70%;
    
        .logo {
            margin: 10px auto 0 auto;
            width: auto;
            height: 100px;
            position: relative;
            
        }
    
        p {
            margin-bottom: 10px;
            font-size: $font-s;
            width: 85%;
        }
    
        .email {
            margin: 1% auto;
            label {
                font-size: $font-s;
            }
        }

        button {
            width: 80%;
        }
    }

    .alert {
        h3{
            font-size: $font-s;
            margin-bottom: 20px;
        }
    
    }
}