@import './_variables.scss';

.input-submit {

}

.input-field {

}

.btn-primary {
  // Main button style
}


.btn-secondary {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

.btn-warning {
  // warning button ... e.g.
}

.btn-danger {
  }


// Styling for the ideal button is... for example:

button {
    border-radius: 50%;
    border: $background-color 2px solid;
    background-color: $secondary-color;
    color: $background-color;
    height: 80px;
    width: 80px;
}
