@import './variables';

// Styling for the ideal button is... for example:
button {
    border-radius: 50%;
    border: $background-color 2px solid;
    background-color: $secondary-color;
    color: $background-color;
    height: 80px;
    width: 80px;
}