input {
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #3f3737;
  border: none;
  padding: 0px 10px;
}

label {

}

select {

}

option {
  
}

// anything else?... radio buttons? checkboxes?