@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
$primary-font: 'Noto Sans JP',
sans-serif;
$font-xl: 64px;
$font-l: 38px;
$font-m: 24px;
$font-s: 16px;
$font-xs: 10px;