// COLORS
$primary-color: #FB5607;
$secondary-color: #27187E;
$tertiary-color: #E31B1B;
$background-color: #F1F2F6;

// FONT COLORS
$primary-font-color: #3F3737;

// BORDERS
$border-1: 1px solid $background-color;
$border-2: 2px solid $background-color;
$border-3: 4px solid $background-color;

// BORDER RADIUS
$border-radius-1: 50%;
$border-radius-2: 20px;
$border-radius-3: 10px;

// BREAKPOINTS
$mob-breakpoint: 576px;
$tab-breakpoint: 768px;
$comp-breakpoint: 992px;
$ultra-breakpoint: 1200px;




