$KnoWastePrimary-red: #FF5757;
$KnoWaste-Light-pink: #ff6f74;
$KnoWaste-Lighter-pink: #E8B0E4;
$Blue: #454599;
$KnoWasteGrey: #4D4D4D;
$font-colorgrey: #544A4A;
$White: #F7F4EB;
$mustard: #B3903F;
$dark-red: #CD2828;
$font-colormeal: #C4C4C4;
