@import "../../../assets/styles/styles.scss"; 

.replyCard {
  align-items: center;
  background: $secondary-color;
  border: $border-2;
  border-radius: $border-radius-3;
  color: $input-color;
  display: flex;
  font-size: $font-reply;
  padding: $base-spacing * 2;
  margin: $base-spacing * 2 $base-spacing * 2 $base-spacing * 2 $indent-spacing;  

  .profile__pic {
    border: 2px solid $secondary-color;
    border-radius: $border-radius-1;
    margin-right: $base-spacing * 2;
    height: 40px;
    width: 40px;
  }
}