@import "../../../assets/styles/styles.scss";

.content{
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
}
#submit{
  width: 800px;
  height: 20px;

}
.formContainer{
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.day{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}